.card-body: {
  padding: 0 !important;
}

.tab-content {
  padding: 0 !important;
}

.card-footer {
  background-color: "#fff" !important;
}

.norme strong {
  font-size: 32px !important;
}

.norme {
  font-size: 29px !important;
  padding: 15px !important;
}

.btn-finish {
  display: none !important;
}
